

.all-tshrit{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    margin-left: 20px;
    color: mediumblue;
}
.products-all-info{
  display: grid;
  grid-template-columns: 4fr 2fr ;
}

.product-added{
    margin: 25% 15%;
}
.tshirtsTitle{
    background-color: rgb(52, 79, 47);
    padding: 4% 0%;
    margin: 0%;
    margin-right: 10px;
    color: lightseagreen;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    animation: title infinite alternate-reverse 1s forwards linear;
}
@keyframes title {
    0%{
        background-color: rgb(204, 20, 75);
    }
    100%{
        background-color: rgba(128, 255, 0, 0.384);
    }
}
.reviewButton{
margin: 10px 2px;
width: 180px;
padding: 12px;
border: none;
border-radius: 12px;
}
.reviewButton a {
    text-decoration: none;
    color: darkcyan;
    font-size: 18px;
    text-transform: uppercase;
}

.reviewButton:hover{
background-color: darkblue;
cursor: pointer;
}

@media(max-width:1100px) {
    .all-tshrit{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
        margin-left: 20px;
        color: mediumblue;
    }
    .products-all-info{
       display: flex;
       flex-direction: column-reverse;
       background-color: rgb(9, 102, 14);
    }
    .tshirtsTitle{
        width: 100%;
        background-color: orange;
    }
}

@media(max-width:600px) {
    .all-tshrit{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        margin-left: 20px;
        color: mediumblue;
    }
}